<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL}}">
  <title>.Site.Title: {{.Site.Title}}</title>
</head>

<body>
  <div id="wrapper">
    <a href="{{.Site.BaseURL}}">GO HOME</a>
    <div class="content">
      <a href="/"><i class="fa fa-home"></i></a>
    </div>
    <main class="main">
      {{ block "main" . }} {{ end }}
    </main>
    {{ partial "content-source-org.html" . }}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>
